In [2]:
import pandas as pd

In [5]:
#create list and print drinks

soda = ["fanta", "coca-cola", "sprite"]

drink = pd.Series(soda)

print(drink)

0        fanta
1    coca-cola
2       sprite
dtype: object

In [6]:
#slicing indexs

print(drink[1])

coca-cola

In [7]:
#creating labels for indexes

soda = ["fanta", "coca-cola", "sprite"]

drink = pd.Series(soda, index = ["orange", "red", "green"])

print(drink)

orange        fanta
red       coca-cola
green        sprite
dtype: object

In [8]:
#dtype is type of data that is stored

In [9]:
#returning the value of "red"

print(drink["red"])

coca-cola

In [11]:
#creating a series

soda = {"orange": "fanta", "red":"coca-cola", "green":"sprite"}

drink = pd.Series(soda)

print(drink)

orange        fanta
red       coca-cola
green        sprite
dtype: object

In [13]:
#indexing within a series

soda = {"orange": "fanta", "red":"coca-cola", "green":"sprite"}

drink = pd.Series(soda, index = ["red", "green"])

print(drink)

red      coca-cola
green       sprite
dtype: object

In [16]:
#creating a dataframe

soda = {"color":["orange", "red", "green"], "soda": ["fanta", "coca-cola", "sprite"]}

drink = pd.DataFrame(soda)

print(drink)

    color       soda
0  orange      fanta
1     red  coca-cola
2   green     sprite

In [19]:
#row location

print(drink.loc[2])

color     green
soda     sprite
Name: 2, dtype: object

In [21]:
#row location

print(drink.loc[[0,2]])

    color    soda
0  orange   fanta
2   green  sprite

In [22]:
#name index

soda = {"color":["orange", "red", "green"], "soda": ["fanta", "coca-cola", "sprite"]}

drink = pd.DataFrame(soda, index = ["can", "bottle", "machine"])

print(drink)

          color       soda
can      orange      fanta
bottle      red  coca-cola
machine   green     sprite

In [24]:
#row locating

print(drink.loc["bottle"])

color          red
soda     coca-cola
Name: bottle, dtype: object

In [38]:
#loading file into dataframe

df = pd.read_csv('credits.csv')

print(df)

       person_id         id                    name                character  \
0           3748    tm84618          Robert De Niro            Travis Bickle
1          14658    tm84618            Jodie Foster            Iris Steensma
2           7064    tm84618           Albert Brooks                      Tom
3           3739    tm84618           Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618         Cybill Shepherd                    Betsy
...          ...        ...                     ...                      ...
77208    1347054  tm1098060  Nnenna Rachael Okonkwo                   Afinni
77209     157590  tm1098060           Lucien Morgan           Dr. Ian Stones
77210     129059  tm1098060        Magdalena Korpas                     Jane
77211    2050199  tm1098060        Mistura Olusanya               Nurse Titi
77212    2050423  tm1098060              Yemi Amodu                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77208     ACTOR
77209     ACTOR
77210     ACTOR
77211     ACTOR
77212  DIRECTOR

[77213 rows x 5 columns]

In [41]:
#printing a specific maximum number of rows from dataframe

pd.options.display.max_rows = 10

df = pd.read_csv('credits.csv')

print(df)

       person_id         id                    name                character  \
0           3748    tm84618          Robert De Niro            Travis Bickle
1          14658    tm84618            Jodie Foster            Iris Steensma
2           7064    tm84618           Albert Brooks                      Tom
3           3739    tm84618           Harvey Keitel  Matthew 'Sport' Higgins
4          48933    tm84618         Cybill Shepherd                    Betsy
...          ...        ...                     ...                      ...
77208    1347054  tm1098060  Nnenna Rachael Okonkwo                   Afinni
77209     157590  tm1098060           Lucien Morgan           Dr. Ian Stones
77210     129059  tm1098060        Magdalena Korpas                     Jane
77211    2050199  tm1098060        Mistura Olusanya               Nurse Titi
77212    2050423  tm1098060              Yemi Amodu                      NaN

           role
0         ACTOR
1         ACTOR
2         ACTOR
3         ACTOR
4         ACTOR
...         ...
77208     ACTOR
77209     ACTOR
77210     ACTOR
77211     ACTOR
77212  DIRECTOR

[77213 rows x 5 columns]

In [46]:
#getting a quick overview of the dataframe with 'head' method

df = pd.read_csv('credits.csv')

print(df.head(15))

    person_id       id             name                     character   role
0        3748  tm84618   Robert De Niro                 Travis Bickle  ACTOR
1       14658  tm84618     Jodie Foster                 Iris Steensma  ACTOR
2        7064  tm84618    Albert Brooks                           Tom  ACTOR
3        3739  tm84618    Harvey Keitel       Matthew 'Sport' Higgins  ACTOR
4       48933  tm84618  Cybill Shepherd                         Betsy  ACTOR
..        ...      ...              ...                           ...    ...
10      43791  tm84618    Murray Moston             Iris' Time Keeper  ACTOR
11     519614  tm84618    Richard Higgs          Secret Service Agent  ACTOR
12     519615  tm84618      Bill Minkin  Tom's Assistant (uncredited)  ACTOR
13      82426  tm84618       Bob Maroff          Mafioso (uncredited)  ACTOR
14      20935  tm84618      Victor Argo     Melio, Delicatessen Owner  ACTOR

[15 rows x 5 columns]

In [47]:
#viewing the last 5 rows of the dataframe with 'tail' method

df = pd.read_csv('credits.csv')

print(df.tail())

       person_id         id                    name       character      role
77208    1347054  tm1098060  Nnenna Rachael Okonkwo          Afinni     ACTOR
77209     157590  tm1098060           Lucien Morgan  Dr. Ian Stones     ACTOR
77210     129059  tm1098060        Magdalena Korpas            Jane     ACTOR
77211    2050199  tm1098060        Mistura Olusanya      Nurse Titi     ACTOR
77212    2050423  tm1098060              Yemi Amodu             NaN  DIRECTOR

In [48]:
#printing data information

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77213 entries, 0 to 77212
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_id  77213 non-null  int64
 1   id         77213 non-null  object
 2   name       77213 non-null  object
 3   character  67586 non-null  object
 4   role       77213 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.9+ MB
None